canvas {
  padding: 0;
  margin: auto;
  display: block;
}

.stretch {
  width: 100%;
}

.btn-danielle {
  color: #fff;
  background-color: #932768;
  border-color: #932768;
}

.convert-wrapper {
  text-align: center;
  padding: 1em;
}

.btn-convert {
  display: inline-block;
  padding: 0 1em;
  text-align: center;
  align-items: center;
  height: 50px;
  margin: 1em;
  width: auto;
}

span.bmc-btn-text {
  flex-shrink: unset !important;
}

.convert-input {
  margin: 0 10px 0 0;
}

.entry p:last-child::after {
  content: " <Read more>";
  color: #6f0ae2;
}

.sketch-subtitle {
  font-size: larger;
}

.entry {
  padding-top: 2rem;
}
